In [1]:
import pandas as pd
import numpy as np

In [2]:
import xlwings as xw

In [3]:
file_path_01 =r"Dataset/Stu_TBL.xlsx"
Stu_TBL_df = pd.read_excel(file_path_01, sheet_name='Sheet1')
Stu_TBL_df.tail()

,Stu_ID,Stu_Name,Stu_DOB,Stu_DOJ,Class & Div,Attendance,GR No
34,SAPSS_2021_035,Michelle Evans MD,1995-09-18,2024-04-18,7 - B,84/90,AS14285
35,SAPSS_2021_036,Patricia Cook,1995-10-02,2024-04-13,7 - B,84/90,AS14286
36,SAPSS_2021_037,Ashley Reeves,1995-10-17,2024-04-11,7 - B,84/90,AS14287
37,SAPSS_2021_038,Stanley Harvey,1995-11-01,2024-04-10,7 - B,84/90,AS14288
38,SAPSS_2021_039,Brian Dunlap,1995-11-15,2024-04-12,7 - B,84/90,AS14289

In [4]:
# Subject table is fixed hence I will take it as list
sub_TBL = ["English","Mathematics","Science","Social Science","Hindi","Physical Education","Drawing","Sanskrit","Moral Science"]

In [5]:
grade_dictionary = {"O":"Outstanding","A+":"Excellent","A":"Very Good","B+":"Good","B":"Average","C":"Fair","Fail":"Needs Attention"}

In [6]:
def get_grade(marks):
    if 0<marks<=34:
        sub_grade = "Fail"
        sub_remark = grade_dictionary[sub_grade]
    elif 34<marks<=50:
        sub_grade = "C"
        sub_remark = grade_dictionary[sub_grade]        
    elif 50<marks<=60:
        sub_grade = "B"
        sub_remark = grade_dictionary[sub_grade]     
    elif 60<marks<=70:
        sub_grade = "B+"
        sub_remark = grade_dictionary[sub_grade]
    elif 70<marks<=80:
        sub_grade = "A"
        sub_remark = grade_dictionary[sub_grade]        
    elif 80<marks<=90:
        sub_grade = "A+"
        sub_remark = grade_dictionary[sub_grade]     
    else:
        sub_grade = "O"
        sub_remark = grade_dictionary[sub_grade]  
    return sub_grade,sub_remark

In [7]:
def get_stud_name(stud_id):
    y =Stu_TBL_df[Stu_TBL_df['Stu_ID']==stud_id]['Stu_Name']
    return y

In [8]:
get_stud_name("SAPSS_2021_037")

36    Ashley Reeves
Name: Stu_Name, dtype: object

In [9]:
get_grade(12)

('Fail', 'Needs Attention')

In [10]:
type(get_grade(92))

tuple

In [11]:
file_path_02 =r"Dataset/Exam_TBL.xlsx"
Exam_TBL_df = pd.read_excel(file_path_02, sheet_name='Sheet1')
Exam_TBL_df.tail()

,Stu_ID,SAPP_SUB_001,SAPP_SUB_002,SAPP_SUB_003,SAPP_SUB_004,SAPP_SUB_005,SAPP_SUB_006,SAPP_SUB_007,SAPP_SUB_008,SAPP_SUB_009
4,SAPSS_2021_005,51,62,49,78,87,46,10,99,89
5,SAPSS_2021_006,31,47,69,87,79,45,52,43,88
6,SAPSS_2021_007,37,55,69,19,92,29,13,89,67
7,SAPSS_2021_008,74,99,81,45,76,30,95,94,10
8,SAPSS_2021_009,21,16,57,65,19,69,32,85,16

In [12]:
# app=xw.(visible=False)

In [13]:
output_folder='output//'
for index, row in Exam_TBL_df.iterrows():
    file_path='Template//Report_Card.xlsx'
    wb=app.books.open(file_path)
    ws=wb.sheets['Report_Card']

    ws['D10'].value = row['Stu_ID']
    ws['H15'].value = row['SAPP_SUB_001']
    x,y = get_grade(row['SAPP_SUB_001'])
    ws['I15'].value = x
    ws['J15'].value = y    
    ws['H16'].value = row['SAPP_SUB_002']
    ws['H17'].value = row['SAPP_SUB_003']
    ws['H18'].value = row['SAPP_SUB_004']
    ws['H19'].value = row['SAPP_SUB_005']
    ws['H20'].value = row['SAPP_SUB_006']
    ws['H21'].value = row['SAPP_SUB_007']
    ws['H22'].value = row['SAPP_SUB_008']
    ws['H23'].value = row['SAPP_SUB_009']
    #save
    XL_file_name=output_folder+str(row['Stu_ID'])+'.xlsx'
    wb.save(XL_file_name)
    wb.close()

NameError: name 'app' is not defined